{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<form class="input-group mb-3" id="post-form">
  {% csrf_token %}
  <button type="submit" class="btn btn-outline-secondary" type="button" id="share">Share</button>
  <input required type="text" class="form-control" placeholder="Whats on your mind?" id="post-text">
</form>

<div id="all-posts">
    {% for post in posts %}
    <div class="card">
        <div class="card-header">
          {{post.user_post}}
          <br>{{post.time}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.post}}</h5>
          {% csrf_token %}
          {% if post.id in liked %}
          <button class="btn btn-primary" id="unlike" data-post="{{post.id}}">Unlike: {{post.likes}}</button>
          {% else %}
          <button class="btn btn-primary" id="like" data-post="{{post.id}}">Like: {{post.likes}}</button>
          {% endif %}          
          <button class="btn btn-primary">Comment</button>
        </div>
      </div>
    {% endfor %}
  
</div>




{% endblock %}



{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}