{% extends "network/layout.html" %}
{% load static %}

{% block body %}


{% if user.username == profile %}
<h1>This is your profile</h1>
{% else %}
<h1>{{profile}}'s profile</h1>
{% endif %}

{% if user in followers %}
<button class="btn btn-primary" id="unfollow" data-user="{{profile}}">Unfollow</button>
{% elif user.username != profile  %}
<button class="btn btn-primary" id="follow" data-user="{{profile}}">Follow</button>
{% endif %}

<h1> Following </h1>
{% for user in following %}
<p>{{user}}</p>
{% endfor %}

<h1> Followers </h1>
{% for user in followers %}
<p>{{user}}</p>
{% endfor %}


{% endblock %}



{% block script %}
{% if user.username != profile %}
<script src="{% static 'network/profile.js' %}"></script>
{% else %}
<script src=""></script>
{% endif %}
{% endblock %}