{% extends "network/layout.html" %}
{% load static %}

{% block body %}


{% if user.username == profile %}
<h1>This is your profile</h1>
{% else %}
<h1>{{profile}}'s profile</h1>
{% endif %}

{% if user in followers %}
<button class="btn btn-primary" id="follow" data-type="unfollow" data-user="{{profile}}">Unfollow</button>
{% elif user.username != profile  %}
<button class="btn btn-primary" id="follow" data-type="follow" data-user="{{profile}}">Follow</button>
{% endif %}

<div id="following">
<h1> Following </h1>
{% for user in following %}
<p id="{{user}}">{{user}}</p>
{% endfor %}
</div>

<div id ="followers">
<h1> Followers </h1>
{% for user in followers %}
<p id="{{user}}">{{user}}</p>
{% endfor %}
</div>

{% endblock %}



{% block script %}
{% if user.username != profile %}
<script src="{% static 'network/profile.js' %}"></script>
{% else %}
<script src=""></script>
{% endif %}
{% endblock %}