{% extends "network/layout.html" %}
{% load static %}

{% block body %}


{% if user.username == profile %}
<h1>This is your profile</h1>
{% else %}
<h1>{{profile}}'s profile</h1>
{% endif %}

{% if user in followers %}
<button class="btn btn-primary" id="follow" data-type="unfollow" data-user="{{profile}}">Unfollow</button>
{% elif user.username != profile  %}
<button class="btn btn-primary" id="follow" data-type="follow" data-user="{{profile}}">Follow</button>
{% endif %}

<div id="following">
<h1> Following </h1>
{% for user in following %}
<a href="{% url 'profile' user %}" id="{{user}}">{{user}}</a>
{% endfor %}
</div>

<div id ="followers">
<h1> Followers </h1>
{% for user in followers %}
<a href="{% url 'profile' user %}" id="{{user}}">{{user}}</a>
{% endfor %}
</div>


{% if user.username == profile %}
<form class="input-group mb-3" id="post-form">
    <button type="submit" class="btn btn-outline-secondary" type="button" id="share">Share</button>
    <input required type="text" class="form-control" placeholder="Whats on your mind?" id="post-text">
  </form>
{% endif %}


<div id="all-posts">
    {% for post in posts %}
    <div class="card">
        <div class="card-header">
          <a href="{% url 'profile' post.user_post %}">{{post.user_post}}</a>
          <br>
          {{post.time}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{post.post}}</h5>
        
          {% if post.id in liked %}
          <button class="btn btn-primary" id="unlike" data-post="{{post.id}}">Unlike: {{post.likes}}</button>
          {% else %}
          <button class="btn btn-primary" id="like" data-post="{{post.id}}">Like: {{post.likes}}</button>
          {% endif %}          
          <button class="btn btn-primary">Comment</button>
          {% if user.username == profile %}
          <button class="btn btn-secondary" id="edit" data-post="{{post.id}}">Edit</button>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}



{% block script %}
{% if user.username != profile %}
<script src="{% static 'network/profile.js' %}"></script>
<script src="{% static 'network/profile_other_posts.js' %}"></script>
{% else %}
<script src="{% static 'network/posts.js' %}"></script>
{% endif %}
{% endblock %}